<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Form Sample</span>
                <span class="caption-helper">form actions without bg color</span>
            </div>
            <div class="actions">
                <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal" @submit.prevent="save">
                <div class="form-body">
                    <div class="form-group">
                        <label for="single" class="col-md-3 control-label">Faculty</label>
                        <div class="col-md-4">
                            <select id="single" class="form-control select2" v-model="facultyUid">
                                <option v-for="f in facultys" v-bind:value="f.key">{{f.facultyName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Branch Code</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Branch Code" v-model="branchCode" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Branch Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Branch Name" v-model="branchName" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Branch Description</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Branch Description" v-model="branchDesc" required>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Submit</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</template>
<script>
import {Faculty} from '../service'
export default {
  props: ['value'],
  data: () => ({
    facultys: [],
    facultyUid: '',
    branchCode: '',
    branchName: '',
    branchDesc: ''
  }),
  watch: {
    value () {
      this.reload()
    }
  },
  created () {
    Faculty.getAll(v => {
      this.facultys = v
    })
  },
  methods: {
    save () {
      this.$emit('input', {
        facultyUid: this.facultyUid,
        branchCode: this.branchCode,
        branchName: this.branchName,
        branchDesc: this.branchDesc,
        key: this.key
      })
      this.$emit('save')
    },
    reload () {
      this.facultyUid = this.value.facultyUid
      this.branchCode = this.value.branchCode
      this.branchName = this.value.branchName
      this.branchDesc = this.value.branchDesc
      this.key = this.value.key
      this.isEdit = this.value.isEdit || true
    }
  }
}
</script>