<template>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Table </div>
            <div class="actions">
                <!--<a @click.prevent="showAddForm" class="btn btn-default btn-sm">
                    <i ></i> Add </a>
                <a href="javascript:;" class="btn btn-default btn-sm">
                    <i class="fa fa-print"></i> Print </a>-->
            </div>
        </div>
        <div class="portlet-body">
             <div class="portlet-body form">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Faculty Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Faculty Name" v-model="fname" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Branch Code</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Branch Code" v-model="bcode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Branch Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Branch Name" v-model="bname" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                <thead>
                    <tr>
                        <th>Faculty Name</th>
                        <th>Branch Code</th>
                        <th>Branch Name</th>
                        <th>Branch Description</th>
                        <th></th>
                    </tr>
                </thead>
                <paginate
                name="ff"
                :list="branchList"
                :per="5"
                tag="tbody"
                >
                    <tr v-for="f in paginated('ff')" @click.prevent="view(f)">
                        <td>{{f.faculty.facultyName}}</td>
                        <td>{{f.branchCode}}</td>
                        <td>{{f.branchName}}</td>
                        <td>{{f.branchDesc}}</td>
                        <td><button type="button" @click.prevent="update(f)" class="btn green">Update</button><button @click.prevent="remove(f)" type="button" class="btn red">Delete</button></td>
                    </tr>
                </paginate>
            </table>
            <paginate-links
            for="ff"
            :limit="2"
            :classes="{
                'ul': 'pagination',
                '.next > a': 'btn btn-sm default prev',
                '.prev > a': ['prev-link', 'another-class'] // multiple classes
            }"
            ></paginate-links>
            </table>
        </div>
    </div>
</template>
<script>
import {Branch, Faculty} from '../service'
export default {
  data: () => ({
    branchs: [],
    facultys: [],
    paginate: ['ff'],
    fname: '',
    bcode: '',
    bname: ''
  }),
  computed: {
    branchList () {
      let result = this.branchs
      if (this.fname) {
        result = result.filter(v => {
          return v.faculty.facultyName.indexOf(this.fname) > -1
        })
      }
      if (this.bcode) {
        result = result.filter(v => {
          return v.branchCode.indexOf(this.bcode) > -1
        })
      }
      if (this.bname) {
        result = result.filter(v => {
          return v.branchName.indexOf(this.bcode) > -1
        })
      }
      return result
    }
  },
  created () {
    Faculty.getAll(f => {
      this.facultys = f.reduce((z, x) => {
        z[x.key] = x
        return z
      })
    })
    Branch.getAll(b => {
      this.branchs = b.map(b => {
        return {
          ...b,
          faculty: this.facultys[b.facultyUid]
        }
      })
    })
  },
  methods: {
    view (c) {
      this.$emit('input', c)
      this.$emit('view')
    },
    update (c) {
      this.$emit('input', c)
      this.$emit('update')
    },
    remove (c) {
      this.$emit('input', c)
      this.$emit('remove')
    }
  }
}
</script>
