<template>
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Faculty
                                <small>Manage Branch</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Branch</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                 <div class="portlet light bordered">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="icon-equalizer font-red-sunglo"></i>
                                                        <span class="caption-subject font-red-sunglo bold uppercase">Download Form</span>
                                                        <span class="caption-helper">ดาวน์โหลดแบบฟอร์ม</span>
                                                    </div>
                                                <div class="actions">
                                                    <div class="portlet-input input-inline input-small">
                                                        <div class="input-icon right">
                                                            <i class="icon-magnifier"></i>
                                                            <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="portlet-body form">
                                                    <!-- BEGIN FORM-->
                                                    <form action="#" class="form-horizontal">
                                                        <div class="form-body">
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 01-02</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> ใบสมัครเข้าร่วมโครงการสหกิจศึกษา (แนบมาพร้อมใบ Transcript ) <a href="http://www.coop.siam.edu/images/stories/filedownload2/01-02.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 02-01</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                     <span> ใบสมัครงานสหกิจ (เลือกสถานประกอบการ) <a href="http://www.coop.siam.edu/images/stories/filedownload2/02-01.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 02-02</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบแจ้งรายละเอียดโครงงาน (นศ) <a href="http://www.coop.siam.edu/images/stories/filedownload2/02-02.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 02-03</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบสอบถามนักศึกษาสหกิจศึกษา <a href="http://www.coop.siam.edu/images/stories/filedownload2/02-03.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 03-01</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบเสนองาน (สปก) <a href="http://www.coop.siam.edu/images/stories/filedownload2/03-01.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 03-02</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบแจ้งผ่านการสัมภาษ (สปก) <a href="http://www.coop.siam.edu/images/stories/filedownload2/03-02.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 03-03</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แจ้งตำแหน่งงานพนักงานที่ปรึกษา (สปก.) <a href="http://www.coop.siam.edu/images/stories/filedownload2/03-03.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 03-04</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> ประเมินนศ. (สปก ) <a href="http://www.coop.siam.edu/images/stories/filedownload2/03-04.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 03-05</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบสอบถามสถานประกอบการ  <a href="http://www.coop.siam.edu/images/stories/filedownload2/03-05.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 04-01</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> ประเมินคุณภาพสปก (อาจารย์) <a href="http://www.coop.siam.edu/images/stories/filedownload2/04-01.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 04-02</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> ประเมินนศ. (อาจารย์) <a href="http://www.coop.siam.edu/images/stories/filedownload2/04-02.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 04-03</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> ประเมินผลรายงาน (อาจารย์) <a href="http://www.coop.siam.edu/images/stories/filedownload2/04-03.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 04-04</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> สัมภาษณ์ (อาจารย์) <a href="http://www.coop.siam.edu/images/stories/filedownload2/04-04.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 04-05</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> แบบสอบถามอาจารย์ที่ปรึกษาสหกิจศึกษา <a href="http://www.coop.siam.edu/images/stories/filedownload2/04-05.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <hr>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label">COOP 05-01</label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">
                                                                    <span> นำเสนอโครงงาน (คณะกรรมการ) <a href="http://www.coop.siam.edu/images/stories/filedownload2/05-01.pdf">Download</a></span>
                                                                </label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"></label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">รายละเอียดการทำโครงงาน (นักศึกษา) <a href="http://www.coop.siam.edu/images/stories/filedownload2/6.pdf">Download</a></label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"></label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">แบบบันทึกการทำงานประจำวัน (นักศึกษา) <a href="http://www.coop.siam.edu/images/stories/filedownload2/7.pdf">Download</a></label>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-3 control-label"></label>
                                                                <label class="col-md-9 control-label" style="text-align: left;">แบบพิจารณาสถานประกอบการของภาควิชา <a href="http://www.coop.siam.edu/images/stories/filedownload2/select-company.pdf">Download</a></label>
                                                            </div>
                                                        </div>                                                   
                                                    </form>
                                                    <!-- END FORM-->
                                                </div>
                                            </div>
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
    </div>
    </div>
</template>