<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Form Sample</span>
                <span class="caption-helper">form actions without bg color</span>
            </div>
            <div class="actions">
                <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control input-circle" placeholder="search..."> 
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal" @submit.prevent="save">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Faculty Code</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Code" :disabled="!isEdit" required v-model="facultyCode" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Faculty Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Name" :disabled="!isEdit" required v-model="facultyName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Faculty Description</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Description" :disabled="!isEdit" required v-model="facultyDesc" />
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green" :disabled="!isEdit" >Save</button>
                            <button @click.prevent="cancel" type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</template>
<script>
export default {
  props: ['value'],
  data: () => ({
    key: '',
    facultyCode: '',
    facultyName: '',
    facultyDesc: '',
    isEdit: false
  }),
  watch: {
    value () {
      this.reload()
    }
  },
  methods: {
    save () {
      this.$emit('input', {
        facultyCode: this.facultyCode,
        facultyName: this.facultyName,
        facultyDesc: this.facultyDesc,
        key: this.key
      })
      this.$emit('save')
      this.$emit('hideAddFrom')
      this.reload()
    },
    created () {
      this.reload()
    },
    cancel () {
      this.$emit('hideAddFrom')
    },
    reload () {
      this.facultyCode = this.value.facultyCode
      this.facultyName = this.value.facultyName
      this.facultyDesc = this.value.facultyDesc
      this.key = this.value.key
      this.isEdit = this.value.isEdit || false
    }
  }
}
</script>