<template>
    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>Table </div>
            <div class="actions">
                <a @click.prevent="showAddForm" class="btn btn-default btn-sm">
                    <i ></i> Add </a>
                <a href="javascript:;" class="btn btn-default btn-sm">
                    <i class="fa fa-print"></i> Print </a>
                    
            </div>

        </div>
        <div class="portlet-body">
            <div class="portlet-body form">
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Faculty Code</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Faculty Code" v-model="fcode" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Faculty Name</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Faculty Name" v-model="fname" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_2">
                <thead>
                    <tr>
                        <th>Faculty Code</th>
                        <th>Faculty Name</th>
                        <th>Faculty Description</th>
                        <th></th>
                    </tr>
                </thead>
                <paginate
                name="ff"
                :list="facultysList"
                :per="5"
                tag="tbody"
                >
                    <tr v-for="f in paginated('ff')" @click.prevent="view(f)">
                        <td>{{f.facultyCode}}</td>
                        <td>{{f.facultyName}}</td>
                        <td>{{f.facultyDesc}}</td>
                        <td><button type="button" @click.prevent="update(f)" class="btn green">Update</button><button @click.prevent="remove(f)" type="button" class="btn red">Delete</button></td>
                    </tr>
                </paginate>
            </table>
            <paginate-links
            for="ff"
            :limit="2"
            :classes="{
                'ul': 'pagination',
                '.next > a': 'btn btn-sm default prev',
                '.prev > a': ['prev-link', 'another-class'] // multiple classes
            }"
            ></paginate-links>
        </div>
    </div>
</template>
<script>
import {Faculty} from '../service'
export default {
  data: () => ({
    facultys: [],
    paginate: ['ff'],
    fcode: '',
    fname: ''

  }),
  created () {
    Faculty.getAll(v => {
      this.facultys = v
    })
  },
  computed: {
    facultysList () {
      let result = this.facultys
      if (this.fcode) {
        result = result.filter(v => {
          return v.facultyCode.indexOf(this.fcode) > -1
        })
      }
      if (this.fname) {
        result = result.filter(v => {
          return v.facultyName.indexOf(this.fname) > -1
        })
      }
      return result
    }
  },
  methods: {
    onSelect (s) {
      console.log(JSON.parse(JSON.stringify(s)))
    },
    showAddForm () {
      this.$emit('showAddForm')
    },
    view (c) {
      this.$emit('input', c)
      this.$emit('view')
    },
    update (c) {
      this.$emit('input', c)
      this.$emit('update')
    },
    remove (c) {
      this.$emit('input', c)
      this.$emit('remove')
    }
  }
}
</script>