<template>
    <div class="page-wrapper-middle">
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <!-- BEGIN PAGE HEAD-->
                <div class="page-head">
                    <div class="container">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title">
                            <h1>Faculty
                                <small>Manage Faculty</small>
                            </h1>
                        </div>
                        <!-- END PAGE TITLE -->
                    </div>
                </div>
                <!-- END PAGE HEAD-->
                <!-- BEGIN PAGE CONTENT BODY -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN PAGE BREADCRUMBS -->
                        <ul class="page-breadcrumb breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>Faculty</span>
                            </li>
                        </ul>
                        <!-- END PAGE BREADCRUMBS -->
                        <!-- BEGIN PAGE CONTENT INNER -->
                        <div class="page-content-inner">
                            <div class="mt-content-body">
                                <FacultyForm @hideAddFrom="hideAddFrom" ref="facultyform" v-model="faculty" @save="save" v-show="isShowAddForm"></FacultyForm>
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                <FacultyTable @showAddForm="add" v-model="faculty" @update="update" @remove="remove" @view="view"></FacultyTable>
                                <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>
                        <!-- END PAGE CONTENT INNER -->
                    </div>
                </div>
                <!-- END PAGE CONTENT BODY -->
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->

        </div>
        <!-- END CONTAINER -->
    </div>
    </div>
</template>

<script>
import FacultyForm from './Faculty-Form'
import FacultyTable from './Faculty-Table'
import {Faculty} from '../service'
export default {
  components: {
    FacultyForm,
    FacultyTable
  },
  data: () => ({
    isShowAddForm: false,
    faculty: null
  }),
  created () {
    this.newfaculty()
  },
  methods: {
    save () {
      if (typeof this.faculty.key === 'undefined') {
        Faculty.isExist(this.faculty.facultyCode, result => {
          if (!result) {
            Faculty.add(this.faculty.facultyCode, this.faculty.facultyName, this.faculty.facultyDesc)
            .then(r => {
              window.toastr.success('Save Success', this.faculty.facultyCode + ' , ' + this.faculty.facultyName)
              this.newfaculty()
            })
          } else {
            window.toastr.error('Save Error FacultyCode Is Exist', this.faculty.facultyCode + ' , ' + this.faculty.facultyName)
          }
        })
      } else {
        Faculty.update(this.faculty).then(r => {
          window.toastr.success('Update Success', this.faculty.facultyCode + ' , ' + this.faculty.facultyName)
          this.newfaculty()
        })
      }
    },
    remove () {
      Faculty.remove(this.faculty).then(() => {
        window.toastr.success('Remove Success', this.faculty.facultyCode + ' , ' + this.faculty.facultyName)
      })
    },
    view () {
      this.faculty.isEdit = false
      this.isShowAddForm = true
    },
    update () {
      this.faculty.isEdit = true
      this.isShowAddForm = true
    },
    newfaculty () {
      this.faculty = {
      }
    },
    add () {
      this.newfaculty()
      this.faculty.isEdit = true
      this.isShowAddForm = true
    },
    hideAddFrom () {
      this.isShowAddForm = false
    }
  }
}
</script>