<template>
     <div class="user-login-5">
            <div class="row bs-reset">
                <div class="col-md-6 bs-reset mt-login-5-bsfix">
                    <div class="login-bg" style="background-image:url(../static/bg1.jpg)">
                        <img class="login-logo" src="../assets/pages/img/login/logo.png" /> </div>
                </div>
                <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
                    <div class="login-content">
                        <h1>Metronic Admin Login</h1>
                        <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat. Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                        <form  @submit.prevent="login" class="login-form" method="post" v-show="!showForgotPassword">
                            <div class="alert alert-danger" v-if="error">
                                <span>{{error}}</span>
                            </div>
                            
                            <div class="row">
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group"  v-model="email" type="text" autocomplete="off" placeholder="Username" name="username" required/> </div>
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group"  v-model="passwd" type="password" autocomplete="off" placeholder="Password" name="password" required/> </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="rem-password">
                                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" name="remember" value="1" /> Remember me
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <div class="forgot-password">
                                        <a @click.prevent="displayShowForgotPassword" id="forget-password" class="forget-password">Forgot Password?</a>
                                    </div>
                                    <button class="btn green" type="submit">Sign In</button>
                                </div>
                            </div>
                        </form>
                        <!-- BEGIN FORGOT PASSWORD FORM -->
                       
                        <form class="forget-form" @submit.prevent="resetPassword" method="post" v-show="showForgotPassword">
                            <div class="row">
                                  <div class="alert alert-danger" v-if="reseterror">
                                     <span>{{reseterrormessage}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <input class="form-control placeholder-no-fix form-group" v-model="resetemail" type="text" autocomplete="off" placeholder="Email" name="email" /> 
                            </div>
                            <div class="form-actions">
                                <button @click.prevent="unDisplayShowForgotPassword" type="button" id="back-btn" class="btn green btn-outline">Back</button>
                                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
                            </div>
                        </form>
                        <!-- END FORGOT PASSWORD FORM -->
                    </div>
                    <div class="login-footer">
                        <div class="row bs-reset">
                            <div class="col-xs-5 bs-reset">
                                <ul class="login-social">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="icon-social-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-7 bs-reset">
                                <div class="login-copyright text-right">
                                    <p>Copyright &copy; Keenthemes 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--<div>
      <span>{{error}}</span>
      <form  @submit.prevent="login">
        <input type="text" v-model="email"> 
        <br>
        <input type="text" v-model="passwd">
        <br>
        <button>Login</button>
      </form>
      <button @click="logout">out</button>
    </div>-->
</template>
<script>
import '!style!css!./../assets/pages/css/login-5.min.css'
import {Auth} from '../service'
export default {
  created () {
    console.log('Current User : => ' + Auth.getCurrentUser())
  },
  data: () => ({
    email: '',
    passwd: '',
    error: '',
    showForgotPassword: false,
    resetemail: '',
    reseterror: false,
    reseterrormessage: ''
  }),
  methods: {
    login () {
      Auth.login(this.email, this.passwd, (result) => {
        this.$store.currentUser = Auth.getCurrentUser()
        console.log(this.$store.currentUser)
      }, (error) => {
        this.error = error.message
        console.log(error)
      })
    },
    resetPassword () {
      Auth.resetPassword(this.resetemail, result => {
        console.log(result)
      }, error => {
        this.reseterror = true
        this.reseterrormessage = error.message
      })
    },
    displayShowForgotPassword () {
      this.showForgotPassword = true
    },
    unDisplayShowForgotPassword () {
      this.showForgotPassword = false
    },
    logout () {
      Auth.logout(() => {
        window.alert('logout')
      })
    }
  }
}
</script>