<template>
    <div class="page-wrapper-top">
        <!-- BEGIN HEADER -->
        <div class="page-header">
            <!-- BEGIN HEADER TOP -->
            <div class="page-header-top">
                <div class="container">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
                            <!--<img src="../assets/layouts/layout3/img/logo-default.jpg" alt="logo" class="logo-default">-->
                        </a>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler"></a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <li class="dropdown dropdown-user dropdown-dark">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                    <!--<img alt="" class="img-circle" src="../assets/layouts/layout3/img/avatar9.jpg">-->
                                    <span class="username username-hide-mobile">Nick</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    <li>
                                        <a href="page_user_profile_1.html">
                                            <i class="icon-user"></i> My Profile </a>
                                    </li>
                                    <li>
                                        <a href="app_calendar.html">
                                            <i class="icon-calendar"></i> My Calendar </a>
                                    </li>
                                    <li>
                                        <a href="app_inbox.html">
                                            <i class="icon-envelope-open"></i> My Inbox
                                            <span class="badge badge-danger"> 3 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="app_todo_2.html">
                                            <i class="icon-rocket"></i> My Tasks
                                            <span class="badge badge-success"> 7 </span>
                                        </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a href="page_user_lock_1.html">
                                            <i class="icon-lock"></i> Lock Screen </a>
                                    </li>
                                    <li>
                                        <a @click.prevent="logout">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- END HEADER TOP -->
            <!-- BEGIN HEADER MENU -->
            <div class="page-header-menu" style="display: block;">
<div class="container">
    <!-- BEGIN HEADER SEARCH BOX -->
    <form class="search-form" action="page_general_search.html" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="query">
            <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit">
                                                <i class="icon-magnifier"></i>
                                            </a>
                                        </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN MEGA MENU -->
    <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
    <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
    <div class="hor-menu  ">
        <ul class="nav navbar-nav">
            <li class="menu-dropdown classic-menu-dropdown">
                <a href="Home.html"> Dashboard
                                            </a>
            </li>
            <li class="menu-dropdown mega-menu-dropdown  mega-menu-full">
                <a href="javascript:;"> Master
                                                <span class="arrow"></span>
                                            </a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="mega-menu-content">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <h3>University</h3>
                                        </li>
                                        <router-link  tag="li" active-class="active" exact to="/Faculty"><a>Faculty</a></router-link>
                                        <router-link  tag="li" active-class="active" exact to="/Branch"><a>Branch</a></router-link>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <h3>Accounts</h3>
                                        </li>
                                        <li>
                                            <h3>- Students</h3>
                                        </li>
                                        <li>
                                            <a href="Students.html"> Students </a>
                                        </li>
                                        <li>
                                            <h3>- Teachers</h3>
                                        </li>
                                        <li>
                                            <a href="Teachers.html"> Teachers </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <h3>Estabilshs</h3>
                                        </li>
                                        <li>
                                            <a href="Estabilshs.html"> Estabilshs </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul class="mega-menu-submenu">
                                        <li>
                                            <h3>Position</h3>
                                        </li>
                                        <li>
                                            <a href="PositionCategory.html"> Position </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- END MEGA MENU -->
</div>
</div>
<!-- END HEADER MENU -->
</div>
<!-- END HEADER -->
</div>
</template>
<script>
import {Auth} from '../service'
export default {
  data: () => ({
  }),
  methods: {
    logout () {
      Auth.logout(() => {
      })
    }
  }
}
</script>