<template>
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-equalizer font-red-sunglo"></i>
                <span class="caption-subject font-red-sunglo bold uppercase">Form Sample</span>
                <span class="caption-helper">form actions without bg color</span>
            </div>
            <div class="actions">
                <div class="portlet-input input-inline input-small">
                    <div class="input-icon right">
                        <i class="icon-magnifier"></i>
                        <input type="text" class="form-control input-circle" placeholder="search..."> </div>
                </div>
            </div>
        </div>
        <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form action="#" class="form-horizontal">
                <div class="form-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Position Code</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Code" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Position Name</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Position Description</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" placeholder="Faculty Description" required>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green">Save</button>
                            <button type="button" class="btn default">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- END FORM-->
        </div>
    </div>
</template>